/* Game.css */
.tutorial-button {
    background-color: #da7e7e;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    margin-bottom: 2em;
  }
  
  .game-tutorial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Horizontal layout for AI score, triangle grid, and User score */
  .horizontal-layout {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Changed from space-around to space-between */
    width: 100%;
    position: relative;
}

  .ai-score, .user-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .score-value {
    font-size: 2em;
    color: #4c4b4b;
  }

  .score-change {
    font-size: 2em;
    color: #da7e7e;
    font-weight: bold;
  }
  
  .decision-boxes {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #4c4b4b;
  }
  
  .ai-decision, .user-decision {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .proceed-button:hover{
    background-color: #da7e7e;
  }
  
  .proceed-button {
    margin: 100px;
    background-color: #4c4b4b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
  }

  .triangle-left {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #ccc; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
    position: relative;
  }
  .triangle-text-left {
    position: absolute;
    left: -120px; 
/* Adjust this value to position the text */
    color: #4c4b4b;
    font-family: 'Chakra Petch', sans-serif;
    /* Optional styling */
    font-size: 18px;
    white-space: nowrap;
    transform: rotate(225deg);
}
  .triangle-left:hover {
    border-top: 100px solid #da7e7e;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #ccc; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
  }

  .triangle-right:hover {
    border-bottom: 100px solid #da7e7e;
  }

  .column-1, .column-2, .column-3, .column-4 {
    width: 105px;
    display: inline-block;
  }

  .column-5 {
    width: 100px;
    display: inline-block;
  }

  .action {
    margin-top: 30px;
  }
